<script>
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#aa0000",
                "text": "#ffdddd"
            },
            "button": {
                "background": "#ff0000"
            }
        },
        "position": "bottom-left",
        "content": {
            "message": "DISCLAIMER: Views or opinions expressed on any of the blog posts are soley the views and opinions of Mykeal Kenny, and do not necessarily reflect the views or opinions of Microsoft™ or any of Microsoft's™ subsidies and should not be interpreted as such.",
            "dismiss": "I understand!",
            "link": "More Information",
            "href": "https://app-svc-oss.github.io/disclaimer"
        }
    });
</script>